
.egg_wrapper{
    display: flex;
    max-width: 350px;
    justify-content: space-between;
    margin:  auto;
    padding: 20px;
  }
  
  .egg_count{
    font-size: 100px;
  }
  
  .egg_btn{
    height: 250px;
    width: 200px;
    border-radius: 100%;
    background-color: #fff;
  }
  
  .white{
    background-color: #fff;
  }
  .pink{
    background-color: #ffccff;
  }
  .red{
    background-color: #ffcccc;
  }
  .purple{
    background-color: #e5ccfc;
  }
  .blue{
    background-color: #ccffff;
  }
  .yellow{
    background-color: #ffffcc;
  }
  .green{
    background-color: #ccffe5;
  }
  .brown{
    background-color: #ffe5cc;
  }
  .Pearl{
    background: linear-gradient(45deg, #e9e9e9 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #fdfdee 90% 100%);
  }
  .gold{
    background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
  }
  .special{
    background: url(kyoryu.png);
    background-repeat: no-repeat;
    background-size: cover;
    animation: walk 20s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes walk {
    0% {
      border: none;
      transform: translate(0, 0);
    }
    5% {
      transform: translate(0, -10px);
    }
    10% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(-2000px, 0);
    }
  }
  